@model FPTBook.Models.ViewModels.ManageBookViewModel
@{
    ViewBag.Title = "Book Browser";
}
<div class="banner">
    <div class="maplink text-center">
        <div class="shopname">FPT Book Store</div>
        <div>
            @Html.ActionLink("Home", "Index", "Home") >>>
            @Html.ActionLink("Shop", "Index", "Shop")
        </div>
    </div>
</div>
<div class="filter">
    <h4 class="category">Category</h4>
    <select class="ui search dropdown">
        <option value="0">All</option>
        @foreach (var item in Model.Categories)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
</div>

<div class="best-seller-container container">
    <div class="grid-container">
        @foreach (var book in Model.Books)
        {
            <div class="card ">
                <img src="~\..\..\Images\@book.ImagePath" alt="@book.Slug" class="product-image" />
                <p class="title">@book.Title</p>
                <p>$@book.Price</p>
                <div>
                    <a href="#" class="AddToCart buttonover btn btn-primary" data-id="@book.Id">
                        Buy
                    </a>
                </div>
            </div>
        }
    </div>
</div>

