@model FPTBook.Models.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "Shopping Cart";
}
<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".RemoveLink").click(function (e) {
            // preventDefault to stop scrolling to the top of page
            e.preventDefault();
            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");
            if (recordToDelete != '') {
                // Perform the ajax post
                $.post("/ShoppingCart/RemoveFromCart", { "id": recordToDelete },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        }
                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text(data.CartCount);
                        $('#cart-count').text(data.CartCount);
                        if (data.CartCount == 0) {
                            $("#review-cart").addClass("hidden");
                            $("#cart-overview").addClass("hidden");
                            $("#Message").removeClass("hidden");
                        }
                        
                    });
            }
        });
    });
</script>
<script>
    window.onload = function() {
        var cart_quan = @ViewBag.CartCount;
        if (cart_quan == 0) {
            $("#Message").removeClass("hidden");
            $("#review-cart").addClass("hidden");
            $("#cart-overview").addClass("hidden");
        }
        else {
            $("#review-cart").removeClass("hidden");
            $("#cart-overview").removeClass("hidden");
        }
    };
</script>

<div class="container">
    <div id="Message" class="hidden container">
        <h1>Your Cart is Empty</h1>
        <p>Browse Book Here</p>@Html.ActionLink("Shop Here", "Index", "Home")
    </div>
    
    <div id="review-cart" class="hidden">
        <h3>
            <em>Review</em> your cart:
        </h3>
        @Html.ActionLink("Checkout", "AddressAndPayment", null, new { @class = "btn btn-success" })
    </div>
    <div id="update-message">
    </div>
    <table id="cart-overview" class="table hidden">
        <tr>
            <th>
                Image
            </th>
            <th>
                Book Name
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.CartItems)
        {
            <tr id="row-@item.RecordId">
                <td>
                    <img src="~\..\..\Images\@item.Book.ImagePath" alt="@item.Book.Slug" width="100px" />
                </td>
                <td>
                    @Html.ActionLink(item.Book.Title, "BookDetail", "Shop", new { id = item.BookId }, null)
                </td>
                <td>
                    @item.Book.Price
                </td>
                <td id="item-count-@item.RecordId">
                    @item.Count
                </td>
                <td>
                    <a href="#" class="RemoveLink" data-id="@item.RecordId">
                        Remove from cart
                    </a>
                </td>
            </tr>
        }
        <tr>
            <td>
                Total
            </td>
            <td>
            </td>
            <td>
            </td>
            <td id="cart-total">
                @Model.CartTotal
            </td>
        </tr>
    </table>
</div>